[submodule "src/github.com/cloudfoundry-incubator/auctioneer"]
	path = src/github.com/cloudfoundry-incubator/auctioneer
	url = https://github.com/cloudfoundry-incubator/auctioneer.git
[submodule "src/github.com/cloudfoundry-incubator/converger"]
	path = src/github.com/cloudfoundry-incubator/converger
	url = https://github.com/cloudfoundry-incubator/converger.git
[submodule "src/github.com/cloudfoundry-incubator/docker-circus"]
	path = src/github.com/cloudfoundry-incubator/docker-circus
	url = https://github.com/cloudfoundry-incubator/docker-circus.git
[submodule "src/github.com/cloudfoundry-incubator/etcd-metrics-server"]
	path = src/github.com/cloudfoundry-incubator/etcd-metrics-server
	url = https://github.com/cloudfoundry-incubator/etcd-metrics-server.git
[submodule "src/github.com/cloudfoundry-incubator/executor"]
	path = src/github.com/cloudfoundry-incubator/executor
	url = https://github.com/cloudfoundry-incubator/executor.git
[submodule "src/github.com/cloudfoundry-incubator/file-server"]
	path = src/github.com/cloudfoundry-incubator/file-server
	url = https://github.com/cloudfoundry-incubator/file-server.git
[submodule "src/github.com/cloudfoundry-incubator/inigo"]
	path = src/github.com/cloudfoundry-incubator/inigo
	url = https://github.com/cloudfoundry-incubator/inigo.git
[submodule "src/github.com/cloudfoundry-incubator/linux-circus"]
	path = src/github.com/cloudfoundry-incubator/linux-circus
	url = https://github.com/cloudfoundry-incubator/linux-circus.git
[submodule "src/github.com/cloudfoundry-incubator/nsync"]
	path = src/github.com/cloudfoundry-incubator/nsync
	url = https://github.com/cloudfoundry-incubator/nsync.git
[submodule "src/github.com/cloudfoundry-incubator/rep"]
	path = src/github.com/cloudfoundry-incubator/rep
	url = https://github.com/cloudfoundry-incubator/rep.git
[submodule "src/github.com/cloudfoundry-incubator/route-emitter"]
	path = src/github.com/cloudfoundry-incubator/route-emitter
	url = https://github.com/cloudfoundry-incubator/route-emitter.git
[submodule "src/github.com/cloudfoundry-incubator/runtime-metrics-server"]
	path = src/github.com/cloudfoundry-incubator/runtime-metrics-server
	url = https://github.com/cloudfoundry-incubator/runtime-metrics-server.git
[submodule "src/github.com/coreos/etcd"]
	path = src/github.com/coreos/etcd
	url = https://github.com/coreos/etcd.git
[submodule "src/github.com/cloudfoundry-incubator/stager"]
	path = src/github.com/cloudfoundry-incubator/stager
	url = https://github.com/cloudfoundry-incubator/stager.git
[submodule "src/github.com/cloudfoundry-incubator/tps"]
	path = src/github.com/cloudfoundry-incubator/tps
	url = https://github.com/cloudfoundry-incubator/tps.git
[submodule "src/github.com/cloudfoundry-incubator/garden-linux"]
	path = src/github.com/cloudfoundry-incubator/garden-linux
	url = git@github.com:cloudfoundry-incubator/garden-linux.git
