.DS_Store
.blobs/
blobs/
.dev_builds/
dev_releases/
config/dev.yml
config/private.yml
/*.yml
stub.yml
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
releases/*.tgz
src_alt
output/
tmp/
releases/**/*.tgz
dev_releases
.blobs
blobs
.dev_builds
.idea
*.swp
*~
*#
#*
/.drone.yml
/cf-release
/deployments-runtime
/*.tgz
/bin/
/pkg/
.hg
.bzr
diego.sublime-workspace

# go tooling
src/code.google.com/p/go.tools/
src/code.google.com/p/goplan9/
src/code.google.com/p/rog-go/
src/github.com/golang/
src/github.com/jstemmer/
src/github.com/nsf/
src/github.com/pivotal-cf-experimental
src/github.com/cloudfoundry-incubator/spiff
src/github.com/onsi/grace
src/github.com/cloudfoundry-incubator/fezzik

# CATS for locally running tests
src/github.com/cloudfoundry/cf-acceptance-tests/

tags
