[submodule "src/github.com/tedsuo/ifrit"]
	path = src/github.com/tedsuo/ifrit
	url = https://github.com/tedsuo/ifrit
	branch = master
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
	branch = master
[submodule "src/github.com/cloudfoundry-incubator/cf-test-helpers"]
	path = src/github.com/cloudfoundry-incubator/cf-test-helpers
	url = https://github.com/cloudfoundry-incubator/cf-test-helpers
	branch = master
[submodule "src/github.com/ajstarks/svgo"]
	path = src/github.com/ajstarks/svgo
	url = https://github.com/ajstarks/svgo
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
	branch = master
[submodule "src/github.com/cloudfoundry/gosteno"]
	path = src/github.com/cloudfoundry/gosteno
	url = https://github.com/cloudfoundry/gosteno
	branch = master
[submodule "src/github.com/nu7hatch/gouuid"]
	path = src/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid
	branch = master
[submodule "src/github.com/tedsuo/rata"]
	path = src/github.com/tedsuo/rata
	url = https://github.com/tedsuo/rata
	branch = master
[submodule "src/github.com/GaryBoone/GoStats"]
	path = src/github.com/GaryBoone/GoStats
	url = https://github.com/GaryBoone/GoStats
	branch = master
[submodule "src/code.cloudfoundry.org/lager"]
	path = src/code.cloudfoundry.org/lager
	url = https://github.com/cloudfoundry/lager
	branch = master
[submodule "src/github.com/cloudfoundry/dropsonde"]
	path = src/github.com/cloudfoundry/dropsonde
	url = https://github.com/cloudfoundry/dropsonde
	branch = master
[submodule "src/github.com/bmizerany/pat"]
	path = src/github.com/bmizerany/pat
	url = https://github.com/bmizerany/pat
	branch = master
[submodule "src/github.com/apcera/gnatsd"]
	path = src/github.com/apcera/gnatsd
	url = https://github.com/apcera/gnatsd
[submodule "src/github.com/vito/go-sse"]
	path = src/github.com/vito/go-sse
	url = https://github.com/vito/go-sse
	branch = master
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
	branch = master
[submodule "src/github.com/hashicorp/go-multierror"]
	path = src/github.com/hashicorp/go-multierror
	url = https://github.com/hashicorp/go-multierror
	branch = master
[submodule "src/github.com/hashicorp/consul"]
	path = src/github.com/hashicorp/consul
	url = https://github.com/hashicorp/consul
[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
	branch = master
[submodule "src/github.com/kr/pty"]
	path = src/github.com/kr/pty
	url = https://github.com/kr/pty
	branch = master
[submodule "src/github.com/gogo/protobuf"]
	path = src/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf
	branch = master
[submodule "src/github.com/pborman/getopt"]
	path = src/github.com/pborman/getopt
	url = https://github.com/pborman/getopt
	branch = master
[submodule "src/github.com/google/shlex"]
	path = src/github.com/google/shlex
	url = https://github.com/google/shlex
	branch = master
[submodule "src/github.com/cloudfoundry/sonde-go"]
	path = src/github.com/cloudfoundry/sonde-go
	url = https://github.com/cloudfoundry/sonde-go
	branch = master
[submodule "src/github.com/onsi/say"]
	path = src/github.com/onsi/say
	url = https://github.com/onsi/say
	branch = master
[submodule "src/github.com/zorkian/go-datadog-api"]
	path = src/github.com/zorkian/go-datadog-api
	url = https://github.com/zorkian/go-datadog-api
	branch = master
[submodule "src/github.com/aws/aws-sdk-go"]
	path = src/github.com/aws/aws-sdk-go
	url = https://github.com/aws/aws-sdk-go
	branch = master
[submodule "src/github.com/vaughan0/go-ini"]
	path = src/github.com/vaughan0/go-ini
	url = https://github.com/vaughan0/go-ini
	branch = master
[submodule "src/github.com/docker/libtrust"]
	path = src/github.com/docker/libtrust
	url = https://github.com/docker/libtrust
	branch = master
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "src/github.com/docker/distribution"]
	path = src/github.com/docker/distribution
	url = https://github.com/docker/distribution
[submodule "src/github.com/kr/fs"]
	path = src/github.com/kr/fs
	url = https://github.com/kr/fs
[submodule "src/github.com/pkg/sftp"]
	path = src/github.com/pkg/sftp
	url = https://github.com/pkg/sftp
[submodule "src/github.com/go-sql-driver/mysql"]
	path = src/github.com/go-sql-driver/mysql
	url = https://github.com/cloudfoundry/mysql
	branch = pr-631-mariadb-reconnect
[submodule "src/github.com/lib/pq"]
	path = src/github.com/lib/pq
	url = https://github.com/lib/pq
	branch = master
[submodule "src/code.cloudfoundry.org/auction"]
	path = src/code.cloudfoundry.org/auction
	url = https://github.com/cloudfoundry/auction
	branch = master
[submodule "src/code.cloudfoundry.org/bbs"]
	path = src/code.cloudfoundry.org/bbs
	url = https://github.com/cloudfoundry/bbs
	branch = master
[submodule "src/code.cloudfoundry.org/auctioneer"]
	path = src/code.cloudfoundry.org/auctioneer
	url = https://github.com/cloudfoundry/auctioneer
	branch = master
[submodule "src/code.cloudfoundry.org/cacheddownloader"]
	path = src/code.cloudfoundry.org/cacheddownloader
	url = https://github.com/cloudfoundry/cacheddownloader
	branch = master
[submodule "src/code.cloudfoundry.org/consuladapter"]
	path = src/code.cloudfoundry.org/consuladapter
	url = https://github.com/cloudfoundry/consuladapter
	branch = master
[submodule "src/code.cloudfoundry.org/executor"]
	path = src/code.cloudfoundry.org/executor
	url = https://github.com/cloudfoundry/executor
	branch = master
[submodule "src/code.cloudfoundry.org/healthcheck"]
	path = src/code.cloudfoundry.org/healthcheck
	url = https://github.com/cloudfoundry/healthcheck
	branch = master
[submodule "src/code.cloudfoundry.org/inigo"]
	path = src/code.cloudfoundry.org/inigo
	url = https://github.com/cloudfoundry/inigo
	branch = master
[submodule "src/code.cloudfoundry.org/locket"]
	path = src/code.cloudfoundry.org/locket
	url = https://github.com/cloudfoundry/locket
	branch = master
[submodule "src/code.cloudfoundry.org/rep"]
	path = src/code.cloudfoundry.org/rep
	url = https://github.com/cloudfoundry/rep
	branch = master
[submodule "src/code.cloudfoundry.org/vizzini"]
	path = src/code.cloudfoundry.org/vizzini
	url = https://github.com/cloudfoundry/vizzini
	branch = master
[submodule "src/code.cloudfoundry.org/benchmarkbbs"]
	path = src/code.cloudfoundry.org/benchmarkbbs
	url = https://github.com/cloudfoundry/benchmarkbbs
	branch = master
[submodule "src/code.cloudfoundry.org/buildpackapplifecycle"]
	path = src/code.cloudfoundry.org/buildpackapplifecycle
	url = https://github.com/cloudfoundry/buildpackapplifecycle
	branch = master
[submodule "src/code.cloudfoundry.org/debugserver"]
	path = src/code.cloudfoundry.org/debugserver
	url = https://github.com/cloudfoundry/debugserver
	branch = master
[submodule "src/code.cloudfoundry.org/cfhttp"]
	path = src/code.cloudfoundry.org/cfhttp
	url = https://github.com/cloudfoundry/cfhttp
	branch = master
[submodule "src/code.cloudfoundry.org/dockerapplifecycle"]
	path = src/code.cloudfoundry.org/dockerapplifecycle
	url = https://github.com/cloudfoundry/dockerapplifecycle
	branch = master
[submodule "src/code.cloudfoundry.org/diego-upgrade-stability-tests"]
	path = src/code.cloudfoundry.org/diego-upgrade-stability-tests
	url = https://github.com/cloudfoundry/diego-upgrade-stability-tests
	branch = master
[submodule "src/code.cloudfoundry.org/fileserver"]
	path = src/code.cloudfoundry.org/fileserver
	url = https://github.com/cloudfoundry/fileserver
	branch = master
[submodule "src/code.cloudfoundry.org/diego-ssh"]
	path = src/code.cloudfoundry.org/diego-ssh
	url = https://github.com/cloudfoundry/diego-ssh
	branch = master
[submodule "src/code.cloudfoundry.org/route-emitter"]
	path = src/code.cloudfoundry.org/route-emitter
	url = https://github.com/cloudfoundry/route-emitter
	branch = master
[submodule "src/code.cloudfoundry.org/archiver"]
	path = src/code.cloudfoundry.org/archiver
	url = https://github.com/cloudfoundry/archiver
	branch = master
[submodule "src/code.cloudfoundry.org/bytefmt"]
	path = src/code.cloudfoundry.org/bytefmt
	url = https://github.com/cloudfoundry/bytefmt
	branch = master
[submodule "src/code.cloudfoundry.org/clock"]
	path = src/code.cloudfoundry.org/clock
	url = https://github.com/cloudfoundry/clock
	branch = master
[submodule "src/code.cloudfoundry.org/eventhub"]
	path = src/code.cloudfoundry.org/eventhub
	url = https://github.com/cloudfoundry/eventhub
	branch = master
[submodule "src/code.cloudfoundry.org/operationq"]
	path = src/code.cloudfoundry.org/operationq
	url = https://github.com/cloudfoundry/operationq
	branch = master
[submodule "src/code.cloudfoundry.org/localip"]
	path = src/code.cloudfoundry.org/localip
	url = https://github.com/cloudfoundry/localip
	branch = master
[submodule "src/github.com/spf13/cobra"]
	path = src/github.com/spf13/cobra
	url = https://github.com/spf13/cobra
	branch = master
[submodule "src/code.cloudfoundry.org/cfdot"]
	path = src/code.cloudfoundry.org/cfdot
	url = https://github.com/cloudfoundry/cfdot
	branch = master
[submodule "src/github.com/spf13/pflag"]
	path = src/github.com/spf13/pflag
	url = https://github.com/spf13/pflag
	branch = master
[submodule "src/github.com/nats-io/nats"]
	path = src/github.com/nats-io/nats
	url = https://github.com/nats-io/nats
	branch = master
[submodule "src/github.com/nats-io/nuid"]
	path = src/github.com/nats-io/nuid
	url = https://github.com/nats-io/nuid
	branch = master
[submodule "src/github.com/apcera/nats"]
	path = src/github.com/apcera/nats
	url = https://github.com/apcera/nats
[submodule "src/code.cloudfoundry.org/voldriver"]
	path = src/code.cloudfoundry.org/voldriver
	url = https://github.com/cloudfoundry/voldriver
	branch = master
[submodule "src/code.cloudfoundry.org/volman"]
	path = src/code.cloudfoundry.org/volman
	url = https://github.com/cloudfoundry/volman
	branch = master
[submodule "src/code.cloudfoundry.org/localdriver"]
	path = src/code.cloudfoundry.org/localdriver
	url = https://github.com/cloudfoundry/localdriver
	branch = master
[submodule "src/code.cloudfoundry.org/goshims"]
	path = src/code.cloudfoundry.org/goshims
	url = https://github.com/cloudfoundry/goshims
	branch = master
[submodule "src/code.cloudfoundry.org/garden"]
	path = src/code.cloudfoundry.org/garden
	url = https://github.com/cloudfoundry/garden
	branch = master
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
	branch = v2
[submodule "src/code.cloudfoundry.org/routing-info"]
	path = src/code.cloudfoundry.org/routing-info
	url = https://github.com/cloudfoundry-incubator/routing-info
	branch = master
[submodule "src/github.com/dgrijalva/jwt-go"]
	path = src/github.com/dgrijalva/jwt-go
	url = https://github.com/dgrijalva/jwt-go
[submodule "src/code.cloudfoundry.org/uaa-go-client"]
	path = src/code.cloudfoundry.org/uaa-go-client
	url = https://github.com/cloudfoundry-incubator/uaa-go-client
[submodule "src/code.cloudfoundry.org/routing-api"]
	path = src/code.cloudfoundry.org/routing-api
	url = https://github.com/cloudfoundry-incubator/routing-api
[submodule "src/code.cloudfoundry.org/trace-logger"]
	path = src/code.cloudfoundry.org/trace-logger
	url = https://github.com/cloudfoundry-incubator/trace-logger
[submodule "src/code.cloudfoundry.org/guardian"]
	path = src/code.cloudfoundry.org/guardian
	url = https://github.com/cloudfoundry/guardian
	branch = master
[submodule "src/github.com/eapache/go-resiliency"]
	path = src/github.com/eapache/go-resiliency
	url = https://github.com/eapache/go-resiliency
[submodule "src/code.cloudfoundry.org/workpool"]
	path = src/code.cloudfoundry.org/workpool
	url = https://github.com/cloudfoundry/workpool
	branch = master
[submodule "src/code.cloudfoundry.org/durationjson"]
	path = src/code.cloudfoundry.org/durationjson
	url = https://github.com/cloudfoundry/durationjson
	branch = master
[submodule "src/google.golang.org/grpc"]
	path = src/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
	branch = master
[submodule "src/code.cloudfoundry.org/go-loggregator"]
	path = src/code.cloudfoundry.org/go-loggregator
	url = https://github.com/cloudfoundry-incubator/go-loggregator
	branch = master
[submodule "src/github.com/cactus/go-statsd-client"]
	path = src/github.com/cactus/go-statsd-client
	url = https://github.com/cactus/go-statsd-client
[submodule "src/github.com/jinzhu/inflection"]
	path = src/github.com/jinzhu/inflection
	url = https://github.com/jinzhu/inflection
[submodule "src/github.com/jinzhu/gorm"]
	path = src/github.com/jinzhu/gorm
	url = https://github.com/jinzhu/gorm
[submodule "src/code.cloudfoundry.org/systemcerts"]
	path = src/code.cloudfoundry.org/systemcerts
	url = https://github.com/cloudfoundry/systemcerts
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://go.googlesource.com/text
	branch = master
[submodule "src/golang.org/x/sys"]
	path = src/golang.org/x/sys
	url = https://go.googlesource.com/sys
[submodule "src/github.com/paulcwarren/spec"]
	path = src/github.com/paulcwarren/spec
	url = https://github.com/paulcwarren/spec.git
[submodule "src/github.com/jeffpak/local-node-plugin"]
	path = src/github.com/jeffpak/local-node-plugin
	url = https://github.com/jeffpak/local-node-plugin
[submodule "src/code.cloudfoundry.org/diego-logging-client"]
	path = src/code.cloudfoundry.org/diego-logging-client
	url = https://github.com/cloudfoundry/diego-logging-client
[submodule "src/code.cloudfoundry.org/csishim"]
	path = src/code.cloudfoundry.org/csishim
	url = https://github.com/cloudfoundry/csishim
[submodule "src/github.com/container-storage-interface/spec"]
	path = src/github.com/container-storage-interface/spec
	url = https://github.com/container-storage-interface/spec
[submodule "src/github.com/inconshreveable/mousetrap"]
	path = src/github.com/inconshreveable/mousetrap
	url = https://github.com/inconshreveable/mousetrap
[submodule "src/github.com/cloudfoundry-incubator/credhub-cli"]
	path = src/github.com/cloudfoundry-incubator/credhub-cli
	url = https://github.com/cloudfoundry-incubator/credhub-cli/
[submodule "src/github.com/Microsoft/go-winio"]
	path = src/github.com/Microsoft/go-winio
	url = https://github.com/Microsoft/go-winio
[submodule "src/github.com/containers/image"]
	path = src/github.com/containers/image
	url = https://github.com/containers/image
[submodule "src/github.com/docker/go-connections"]
	path = src/github.com/docker/go-connections
	url = https://github.com/docker/go-connections
[submodule "src/github.com/ghodss/yaml"]
	path = src/github.com/ghodss/yaml
	url = https://github.com/ghodss/yaml
[submodule "src/github.com/opencontainers/go-digest"]
	path = src/github.com/opencontainers/go-digest
	url = https://github.com/opencontainers/go-digest
[submodule "src/github.com/opencontainers/image-spec"]
	path = src/github.com/opencontainers/image-spec
	url = https://github.com/opencontainers/image-spec
[submodule "src/github.com/pkg/errors"]
	path = src/github.com/pkg/errors
	url = https://github.com/pkg/errors
[submodule "src/github.com/sirupsen/logrus"]
	path = src/github.com/sirupsen/logrus
	url = https://github.com/sirupsen/logrus
[submodule "src/code.cloudfoundry.org/certsplitter"]
	path = src/code.cloudfoundry.org/certsplitter
	url = https://github.com/cloudfoundry/certsplitter
[submodule "src/github.com/maxbrunsfeld/counterfeiter"]
	path = src/github.com/maxbrunsfeld/counterfeiter
	url = https://github.com/maxbrunsfeld/counterfeiter
	branch = master
[submodule "src/golang.org/x/tools"]
	path = src/golang.org/x/tools
	url = https://go.googlesource.com/tools
	branch = master
[submodule "src/github.com/docker/docker-credential-helpers"]
	path = src/github.com/docker/docker-credential-helpers
	url = https://github.com/docker/docker-credential-helpers
[submodule "src/code.cloudfoundry.org/csiplugin"]
	path = src/code.cloudfoundry.org/csiplugin
	url = https://github.com/cloudfoundry/csiplugin
[submodule "src/github.com/virtualcloudfoundry/goaci"]
	path = src/github.com/virtualcloudfoundry/goaci
	url = https://github.com/virtualcloudfoundry/goaci
[submodule "src/github.com/dimchansky/utfbom"]
	path = src/github.com/dimchansky/utfbom
	url = https://github.com/dimchansky/utfbom
[submodule "src/github.com/Azure/go-autorest"]
	path = src/github.com/Azure/go-autorest
	url = https://github.com/Azure/go-autorest
