[submodule "src/executor"]
	path = src/executor
	url = https://github.com/cloudfoundry-incubator/executor.git
[submodule "src/stager"]
	path = src/stager
	url = https://github.com/cloudfoundry-incubator/stager.git
[submodule "src/inigo"]
	path = src/inigo
	url = https://github.com/cloudfoundry-incubator/inigo.git
[submodule "src/linux-smelter"]
	path = src/linux-smelter
	url = https://github.com/cloudfoundry-incubator/linux-smelter.git
[submodule "src/file-server"]
	path = src/file-server
	url = https://github.com/cloudfoundry-incubator/file-server.git
[submodule "src/cf-acceptance-tests"]
	path = src/cf-acceptance-tests
	url = https://github.com/cloudfoundry/cf-acceptance-tests.git
	branch = diego
[submodule "src/warden-linux"]
	path = src/warden-linux
	url = https://github.com/cloudfoundry-incubator/warden-linux
[submodule "src/runtime-metrics-server"]
	path = src/runtime-metrics-server
	url = https://github.com/cloudfoundry-incubator/runtime-metrics-server.git
[submodule "src/etcd"]
	path = src/etcd
	url = https://github.com/coreos/etcd.git
[submodule "src/etcd-metrics-server"]
	path = src/etcd-metrics-server
	url = git@github.com:cloudfoundry-incubator/etcd-metrics-server
