config_from_cf:
  cf_deployment_name: (( name ))
  cf_director_uuid: (( director_uuid ))
  cf_releases: (( releases ))
  cc:
    internal_api_password: (( properties.cc.internal_api_password ))
    srv_api_uri: (( properties.cc.srv_api_uri ))
    staging_upload_user: (( properties.cc.staging_upload_user ))
    staging_upload_password: (( properties.cc.staging_upload_password ))
  consul:
    datacenter: (( properties.consul.agent.datacenter ))
    log_level: (( properties.consul.agent.log_level ))
    lan_servers: (( properties.consul.agent.servers.lan ))
    ca_cert: (( properties.consul.ca_cert ))
    agent_cert: (( properties.consul.agent_cert ))
    agent_key: (( properties.consul.agent_key ))
    encrypt_keys: (( properties.consul.encrypt_keys ))
    require_ssl: (( properties.consul.require_ssl ))
    server_cert: (( properties.consul.server_cert ))
    server_key: (( properties.consul.server_key ))
  loggregator:
    etcd_machines: (( properties.loggregator.etcd.machines ))
    shared_secret: (( properties.loggregator_endpoint.shared_secret ))
    traffic_controller_url: (( "wss://doppler." properties.system_domain ":443" ))
    dropsonde_incoming_port: (( properties.loggregator.dropsonde_incoming_port ))
    tls:
      ca: (( properties.loggregator.tls.ca ))
  metron_endpoint:
    shared_secret: (( properties.metron_endpoint.shared_secret ))
  metron_agent:
    dropsonde_incoming_port: (( properties.metron_agent.dropsonde_incoming_port ))
    preferred_protocol: (( properties.metron_agent.preferred_protocol ))
    tls_client:
      cert: (( properties.metron_agent.tls_client.cert ))
      key: (( properties.metron_agent.tls_client.key ))
  nats:
    user: (( properties.nats.user ))
    password: (( properties.nats.password ))
    port: (( properties.nats.port ))
    machines: (( properties.nats.machines ))
  uaa:
    ssh_proxy_client_secret: (( properties.uaa.clients.ssh-proxy.secret ))
    token_url: (( properties.uaa.url "/oauth/token" ))

# The keys below should not be included in the final stub
name: (( merge ))
director_uuid: (( merge ))
releases: (( merge ))
properties:
  cc:
    internal_api_password: (( merge ))
    srv_api_uri: (( merge ))
    staging_upload_user: (( merge ))
    staging_upload_password: (( merge ))
  consul:
    agent:
      log_level: (( merge ))
      datacenter: (( merge || nil ))
      servers:
        lan: (( merge ))
    ca_cert: (( merge || nil ))
    agent_cert: (( merge || nil ))
    agent_key: (( merge || nil ))
    encrypt_keys: (( merge || nil ))
    require_ssl: (( merge || nil ))
    server_cert: (( merge || nil ))
    server_key: (( merge || nil ))
  loggregator:
    etcd:
      machines: (( merge ))
    dropsonde_incoming_port: (( merge || nil ))
    tls:
      ca: (( merge ))
  loggregator_endpoint:
    shared_secret: (( merge ))
  metron_endpoint:
    shared_secret: (( merge ))
  metron_agent:
    dropsonde_incoming_port: (( merge || nil ))
    preferred_protocol: (( merge ))
    tls_client:
      cert: (( merge ))
      key: (( merge ))
  nats:
    user: (( merge ))
    password: (( merge ))
    machines: (( merge ))
    port: (( merge ))
  system_domain: (( merge ))
  uaa:
    clients:
      ssh-proxy:
        secret: (( merge || nil ))
    url: (( merge ))
