config_from_cf:
  cf_director_uuid: (( director_uuid ))
  cf_deployment_name: (( name ))
  cc:
    internal_api_password: (( properties.cc.internal_api_password ))
    srv_api_uri: (( properties.cc.srv_api_uri ))
    staging_upload_user: (( properties.cc.staging_upload_user ))
    staging_upload_password: (( properties.cc.staging_upload_password ))
  consul:
    datacenter: (( properties.consul.agent.datacenter || "dc1" ))
    log_level: (( properties.consul.agent.log_level ))
    lan_servers: (( properties.consul.agent.servers.lan ))
    ca_cert: (( properties.consul.ca_cert ))
    agent_cert: (( properties.consul.agent_cert ))
    agent_key: (( properties.consul.agent_key ))
    encrypt_keys: (( properties.consul.encrypt_keys ))
    require_ssl: (( properties.consul.require_ssl ))
    server_cert: (( properties.consul.server_cert ))
    server_key: (( properties.consul.server_key ))
  etcd:
    machines: (( properties.etcd.machines ))
  loggregator:
    etcd:
      machines: (( properties.loggregator.etcd.machines ))
  loggregator_endpoint:
    shared_secret: (( properties.loggregator_endpoint.shared_secret ))
  nats:
    user: (( properties.nats.user ))
    password: (( properties.nats.password ))
    port: 4222
    machines: (( properties.nats.machines ))
  system_domain: (( properties.system_domain ))
  uaa:
    url: (( properties.uaa.url ))
    clients:
      ssh-proxy:
        secret: (( properties.uaa.clients.ssh-proxy.secret ))
  cf_releases: (( releases ))

# The keys below should not be included in the final stub
director_uuid: (( merge ))
name: (( merge ))
properties:
  cc:
    internal_api_password: (( merge ))
    srv_api_uri: (( merge ))
    staging_upload_user: (( merge ))
    staging_upload_password: (( merge ))
  consul:
    agent:
      log_level: (( merge ))
      datacenter: (( merge ))
      servers:
        lan: (( merge ))
    ca_cert:
    agent_cert:
    agent_key:
    encrypt_keys:
    require_ssl:
    server_cert:
    server_key:
  etcd:
    machines: (( merge ))
  loggregator:
    etcd:
      machines: (( merge ))
  loggregator_endpoint:
    shared_secret: (( merge ))
  nats:
    user: (( merge ))
    password: (( merge ))
    machines: (( merge ))
  system_domain: (( merge ))
  uaa:
    clients:
      ssh-proxy:
        secret: (( merge || nil ))
    url: (( merge || nil ))
releases: (( merge ))
