config_from_cf:
  cf_deployment_name: (( name ))
  cf_director_uuid: (( director_uuid ))
  cf_release: (( releases.cf ))
  cc:
    internal_api_user: (( properties.cc.internal_api_user ))
    internal_api_password: (( properties.cc.internal_api_password ))
    srv_api_uri: (( properties.cc.srv_api_uri ))
  consul:
    datacenter: (( properties.consul.agent.datacenter ))
    domain: (( properties.consul.agent.domain ))
    log_level: (( properties.consul.agent.log_level ))
    lan_servers: (( properties.consul.agent.servers.lan ))
    ca_cert: (( properties.consul.ca_cert ))
    agent_cert: (( properties.consul.agent_cert ))
    agent_key: (( properties.consul.agent_key ))
    encrypt_keys: (( properties.consul.encrypt_keys ))
    server_cert: (( properties.consul.server_cert ))
    server_key: (( properties.consul.server_key ))
  etcd:
    advertise_urls_dns_suffix: (( properties.etcd.advertise_urls_dns_suffix ))
    ca_cert: (( properties.etcd.ca_cert ))
    client_cert: (( properties.etcd.client_cert ))
    client_key: (( properties.etcd.client_key ))
    require_ssl: (( properties.etcd.require_ssl ))
  loggregator:
    etcd_machines: (( properties.loggregator.etcd.machines ))
    etcd_require_ssl: (( properties.loggregator.etcd.require_ssl ))
    etcd_ca_cert: (( properties.loggregator.etcd.ca_cert ))
    shared_secret: (( properties.loggregator_endpoint.shared_secret ))
    dropsonde_incoming_port: (( properties.loggregator.dropsonde_incoming_port ))
    tls:
      ca_cert: (( properties.loggregator.tls.ca_cert ))
      metron:
        cert: (( properties.loggregator.tls.metron.cert ))
        key: (( properties.loggregator.tls.metron.key ))
  metron_endpoint:
    shared_secret: (( properties.metron_endpoint.shared_secret ))
  metron_agent:
    grpc_port: (( properties.metron_agent.grpc_port ))
    dropsonde_incoming_port: (( properties.metron_agent.dropsonde_incoming_port ))
    protocols: (( properties.metron_agent.protocols ))
    preferred_protocol: (( properties.metron_agent.preferred_protocol ))
    tls:
      client_cert: (( properties.metron_agent.tls.client_cert ))
      client_key: (( properties.metron_agent.tls.client_key ))
    etcd:
      client_cert: (( properties.metron_agent.etcd.client_cert ))
      client_key: (( properties.metron_agent.etcd.client_key ))
  nats:
    user: (( properties.nats.user ))
    password: (( properties.nats.password ))
    port: (( properties.nats.port ))
    machines: (( properties.nats.machines ))
  syslog_daemon_config: (( properties.syslog_daemon_config ))
  system_domain: (( properties.system_domain ))
  uaa:
    tls_port: (( properties.uaa.ssl.port ))
    ca_cert: (( properties.uaa.ca_cert ))
    ssh_proxy_client_secret: (( properties.uaa.clients.ssh-proxy.secret ))
    tcp_emitter_client_secret: (( properties.uaa.clients.tcp_emitter.secret ))
  app_domains: (( properties.app_domains ))
  sql:
    host: (( properties.databases.address ))
    port: (( properties.databases.port ))
    password: (( properties.databases.roles.diego.password ))

# The keys below should not be included in the final stub
name: (( merge ))
director_uuid: (( merge ))
releases: (( merge ))
properties:
  cc:
    internal_api_user: (( merge ))
    internal_api_password: (( merge ))
    srv_api_uri: (( merge ))
  consul:
    agent:
      domain: (( merge ))
      log_level: (( merge ))
      datacenter: (( merge || nil ))
      servers:
        lan: (( merge ))
    ca_cert: (( merge ))
    agent_cert: (( merge ))
    agent_key: (( merge ))
    encrypt_keys: (( merge ))
    server_cert: (( merge ))
    server_key: (( merge ))
  databases:
    address: (( merge || nil ))
    port: (( merge || nil ))
    roles:
    - name: diego
      password: (( merge || nil ))
  etcd:
    advertise_urls_dns_suffix: (( merge ))
    ca_cert: (( merge || nil ))
    client_cert: (( merge || nil ))
    client_key: (( merge || nil ))
    require_ssl: (( merge || nil ))
  loggregator:
    etcd:
      ca_cert: null
      require_ssl: null
      machines: (( merge ))
    dropsonde_incoming_port: (( merge || nil ))
    tls:
      ca_cert: (( merge || nil ))
      metron:
        cert: (( merge || nil ))
        key: (( merge || nil ))
  loggregator_endpoint:
    shared_secret: (( merge ))
  metron_endpoint:
    shared_secret: (( merge ))
  metron_agent:
    grpc_port: (( merge || nil ))
    dropsonde_incoming_port: (( merge || nil ))
    protocols: (( merge || nil ))
    preferred_protocol: (( merge || nil ))
    tls:
      client_cert: (( merge || nil ))
      client_key: (( merge || nil ))
    etcd:
      client_cert: null
      client_key: null

  nats:
    user: (( merge ))
    password: (( merge ))
    machines: (( merge ))
    port: (( merge ))
  system_domain: (( merge ))
  syslog_daemon_config: (( merge || nil ))
  app_domains: (( merge ))
  uaa:
    clients:
      ssh-proxy:
        secret: (( merge || nil ))
      tcp_emitter:
        secret: (( merge || nil ))
    url: (( merge ))
    ca_cert: (( merge ))
    ssl:
      port: (( merge ))
